In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('creditcard.csv')
data.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [4]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [5]:
data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

#  The dataset is imbalanced
#0 -> Normal Transcation
#1 -> Fraud Transcation

In [6]:
normal = data[data.Class == 0]
fraud = data[data.Class == 1]

In [7]:
print(normal.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [8]:
normal.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [9]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [10]:
data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [11]:
legit_sample = normal.sample(n=492)

In [12]:
new_data = pd.concat([legit_sample, fraud], axis=0)
new_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
34821,37839.0,-0.264235,0.943988,1.329547,0.631577,0.507501,-0.182280,0.830929,-0.275781,-0.234161,...,-0.037461,0.007910,-0.262532,-0.477723,-0.196402,-0.403373,-0.145513,-0.076783,10.00,0
90486,63041.0,1.277847,0.238842,-0.156204,1.054293,0.592282,0.624927,0.071305,0.039665,0.294662,...,-0.191099,-0.258676,-0.236451,-1.303756,0.873142,-0.226685,0.043558,0.001756,1.00,0
56586,47495.0,-0.992056,0.397496,0.132930,1.286144,0.298613,-0.253671,0.155929,0.602520,-0.507106,...,0.196209,0.310891,0.009565,-0.377731,-0.373273,-0.237307,0.312619,0.088294,70.00,0
170449,120191.0,-0.916447,0.297604,0.181198,-2.369200,0.193428,0.094422,-0.363643,-0.516880,-0.425953,...,0.962782,0.333480,-0.372431,-1.326561,0.076480,-0.107649,0.316200,0.202376,39.95,0
116469,74288.0,-1.070501,0.889659,0.015455,-0.872264,0.594866,-0.243071,1.027805,-0.074314,-0.771954,...,-0.014564,0.047737,-0.143881,-0.751149,0.252378,1.033055,-0.689779,-0.272679,59.95,0

In [13]:
new_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [14]:
new_data['Class'].value_counts()

1    492
0    492
Name: Class, dtype: int64

In [15]:
new_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,93390.172764,0.068645,-0.073531,0.029686,0.079850,-0.067989,-0.055941,-0.008277,0.031304,-0.003380,...,0.033427,0.020508,0.028251,0.025154,-0.012512,0.008640,-0.011603,-0.029238,-0.003577,99.347073
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [16]:
X = new_data.drop(columns='Class', axis=1)
Y = new_data['Class']

In [17]:
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
34821,37839.0,-0.264235,0.943988,1.329547,0.631577,0.507501,-0.182280,0.830929,-0.275781,-0.234161,...,0.041590,-0.037461,0.007910,-0.262532,-0.477723,-0.196402,-0.403373,-0.145513,-0.076783,10.00
90486,63041.0,1.277847,0.238842,-0.156204,1.054293,0.592282,0.624927,0.071305,0.039665,0.294662,...,-0.121084,-0.191099,-0.258676,-0.236451,-1.303756,0.873142,-0.226685,0.043558,0.001756,1.00
56586,47495.0,-0.992056,0.397496,0.132930,1.286144,0.298613,-0.253671,0.155929,0.602520,-0.507106,...,0.242014,0.196209,0.310891,0.009565,-0.377731,-0.373273,-0.237307,0.312619,0.088294,70.00
170449,120191.0,-0.916447,0.297604,0.181198,-2.369200,0.193428,0.094422,-0.363643,-0.516880,-0.425953,...,-0.176377,0.962782,0.333480,-0.372431,-1.326561,0.076480,-0.107649,0.316200,0.202376,39.95
116469,74288.0,-1.070501,0.889659,0.015455,-0.872264,0.594866,-0.243071,1.027805,-0.074314,-0.771954,...,-0.192834,-0.014564,0.047737,-0.143881,-0.751149,0.252378,1.033055,-0.689779,-0.272679,59.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,1.252967,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.226138,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.247968,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.306271,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.017652,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53

In [18]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [19]:
print(X.shape, X_train.shape, X_test.shape)
print(Y.shape, Y_train.shape, Y_test.shape)

(984, 30) (787, 30) (197, 30)
(984,) (787,) (197,)

# Logistic Regression

In [20]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
model.fit(X_train, Y_train)

LogisticRegression()

In [21]:
# Check Accuracy Score
prediction = model.predict(X_test)

In [22]:
from sklearn.metrics import classification_report, accuracy_score
print(classification_report(Y_test, prediction))

              precision    recall  f1-score   support

           0       0.89      0.99      0.94        99
           1       0.99      0.88      0.93        98

    accuracy                           0.93       197
   macro avg       0.94      0.93      0.93       197
weighted avg       0.94      0.93      0.93       197

In [23]:
accuracy_score(Y_test, prediction)

0.934010152284264

# Decision Tree

In [24]:
from sklearn.tree import DecisionTreeClassifier
model1 = DecisionTreeClassifier()
model1.fit(X_train, Y_train)

DecisionTreeClassifier()

In [25]:
pred1 = model1.predict(X_test)

In [26]:
accuracy_score(Y_test, pred1)

0.9137055837563451

In [27]:
print(classification_report(Y_test, pred1))

              precision    recall  f1-score   support

           0       0.89      0.94      0.92        99
           1       0.94      0.89      0.91        98

    accuracy                           0.91       197
   macro avg       0.91      0.91      0.91       197
weighted avg       0.91      0.91      0.91       197

# Random Forest

In [28]:
from sklearn.ensemble import RandomForestClassifier
model2 = RandomForestClassifier()
model2.fit(X_train, Y_train)

RandomForestClassifier()

In [29]:
pred2 = model2.predict(X_test)

In [30]:
accuracy_score(Y_test, pred2)

0.9289340101522843

In [31]:
print(classification_report(Y_test, pred2))

              precision    recall  f1-score   support

           0       0.89      0.98      0.93        99
           1       0.98      0.88      0.92        98

    accuracy                           0.93       197
   macro avg       0.93      0.93      0.93       197
weighted avg       0.93      0.93      0.93       197

# KNN

In [32]:
from sklearn.neighbors import KNeighborsClassifier
model3 = KNeighborsClassifier()
model3.fit(X_train, Y_train)

KNeighborsClassifier()

In [33]:
pred3 = model3.predict(X_test)

In [34]:
accuracy_score(Y_test, pred3)

0.6243654822335025

In [35]:
print(classification_report(Y_test, pred3))

              precision    recall  f1-score   support

           0       0.61      0.70      0.65        99
           1       0.64      0.55      0.59        98

    accuracy                           0.62       197
   macro avg       0.63      0.62      0.62       197
weighted avg       0.63      0.62      0.62       197

In [36]:
from sklearn.metrics import confusion_matrix
confusion_matrix(Y_test, prediction)

array([[98,  1],
       [12, 86]], dtype=int64)